html, body  {
	width: 100%;
	height: 100%;
}
.login-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.login-wrapper .login-box {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -300px;
	width: 1000px;
	height: 600px;
	background-image: url(../images/login_bg.jpg);
	background-repeat: no-repeat;
	background-size: 1000px 600px;
}
.login-wrapper .login-box .login-box-left {
	width: 591px;
	height: 512px;
	background-image: url(../images/login_bg_left.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 39px;
	top: 41px;
}
.login-wrapper .login-box .login-box-left .home-title {
	width: 217px;
	height: 34px;
	background-image: url(../images/company_icon.png);
	background-repeat: no-repeat;
	background-size: 217px 34px;
	position: absolute;
	left: 15px;
	top: 20px;
}
.login-wrapper .login-box .login-box-left .home-text {
	width: 502px;
	height: 38px;
	background-image: url(../images/home_text.png);
	background-repeat: no-repeat;
	background-size: 502px 38px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -251px;
	margin-top: -19px;
}
.login-wrapper .login-box .login-box-left  .home-info {
	height: 90px;
	width: 100%;
	position: absolute;
	bottom: 5px;
	left: 0;
}
.login-wrapper .login-box .login-box-left  .home-info li {
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	margin:  5px 0;
	padding: 0 15px;
}
.login-wrapper .login-box .login-box-left  .home-info li:last-child i{
	display: inline-block;
	height: 20px;
	width: 29px;
	background-image: url(../images/flag.png);
	background-repeat: no-repeat;
	background-size: 29px 20px;
}
.login-wrapper .login-box .login-box-right {
	width: 274px;
	height: 512px;
	position: absolute;
	left: 620px;
	top: 41px;
	padding: 0 30px;
	text-align: center;
}
.login-wrapper .login-box .login-box-right .login-h2 {
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	margin: 80px 0;
	color: #333;
}
.login-wrapper .login-box .login-box-right .login-ipt li {
	height: 50px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin: 5px 0;
	line-height: 50px;
}
.login-wrapper .login-box .login-box-right .login-ipt li:hover {
	color: #67a0f1;
	border-bottom: 1px solid #67a0f1;
}
.login-wrapper .login-box .login-box-right .login-ipt li:hover input::-webkit-input-placeholder{
	color: #67a0f1;
}
.login-wrapper .login-box .login-box-right .login-ipt li:hover input:-ms-input-placeholder{
	color: #67a0f1;
}
.login-wrapper .login-box .login-box-right .login-ipt li span{
	float: left;
	height: 50px;
	width: 24px;
	font-size: 20px;
	text-align: center;
	line-height: 50px;	
}
.login-wrapper .login-box .login-box-right .login-ipt li input{
	float: left;
	width: 240px;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
}
.login-wrapper .login-box .login-box-right .alert-info {
	display: block;
	height: 20px;
	color: red;
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	padding-left: 15px;
}
.login-wrapper .login-box .login-box-right .affirm{
	display: inline-block;
	height: 51px;
	width: 252px;
	background-image: url(../images/login_btn.png);
	background-size: 252px 51px;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 30px;
}
