html, body{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 10px;
}
input[type=date]::-webkit-inner-spin-button { visibility: hidden;}
input[type=date] {font-size: 12px;color: #333;}
input,button,select,textarea{outline:none}
textarea{resize:none}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
}
select::-ms-expand { display: none; }
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
input:-ms-clear{display:none;}
input:-ms-reveal{display:none;}

.clearfix:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
iframe {
    border-width: 0px;
}
.wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.search-box {
  text-align: right;
  height: 70px;
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
}
.search-box .layui-input-block {
  margin-left: 0;
}
.search-box-coupon .layui-form{
  margin-bottom: 5px;
}

.page-box {
  height: 55px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
}
.table-box {
  position: absolute;
  bottom: 20px;
  top: 70px;
  left: 20px;
  right: 20px;
}
.page-layer {
	background-color: #fff;
  display: none;
  padding: 20px 30px 0 10px;
  position: relative;
}

.zt-form-item-center {
  text-align: center;
  margin-top: 30px;
}