.regist-wrapper {
	width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  display: none;
}
.passenger-register-progress {
	width: 515px;
	height: 335px;
	margin: 0 auto 20px;
}
.progress-box {
  width: 515px;
  height: 335px;
  float: right;
  background-color: #fff;
  box-shadow: 0 0 5px 0px rgba(105, 105, 105, 0.3);
}
.photo-info {
  width: 515px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.photo-info .photo-info-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dfdfe0;
  vertical-align: top;
  box-sizing: border-box;
}

.photo-info .photo-info-title .photo-info-title-icon {
  width: 22px;
  height: 22px;
  background-image: url(../images/idcard_icon.png);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 10px;
}
.user-form {
	width: 515px;
	padding: 0 20px;
	box-sizing: border-box;
}
.user-form li {}

.form-info {
  margin-top: 20px;
}

.user-form li .layui-form-label {
  padding: 9px;
  width: 60px;
  font-size: 14px;
}

.user-form li:nth-child(1) .layui-input-inline {
  margin-right: 0;
}
/*流程*/
.passenger-register-info {
	width: 515px;
	background-color: #fff;
	box-shadow: 0 0 5px 0px rgba(105, 105, 105, 0.3);
	padding: 20px 0;
	height: 230px;
	margin: 0 auto;
}
.progress-wrapper {
	margin: 0 auto;
	width: 515px;
}
.progress-title {
	height: 40px;
	margin-bottom: 30px;
	text-align: center;
}
.progress-title .list-title{
	height: 40px;
	width: 110px;
	line-height: 40px;
	text-align: center;
	margin-right: 15px;
	font-size: 16px;
	border-radius: 2px;
	padding: 0;
	margin-left: 0;
}
.progress-title .list-title:last-child{
	margin-right: 0;
}
.progress-info {
	padding-top: 10px;
}
.hint-infobox {
	width: 320px;
	height: 150px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.hint-info {
	width: 100%;
	height: 150px;
	background-color: #f7f7f7;
}
.hint-info .list-info {
	width: 320px;
	height: 150px;
	text-align: center;
	display: none;
	overflow: hidden;
}
.hint-info .list-info-show {
	display: block;
}
.hint-info .list-info p {
	line-height: 30px;
	text-align: center;
	height: 30px;
	font-size: 20px;
}

.hint-info .list-info:nth-child(3) p:nth-child(1) {
	margin-top: 20px;
}
.hint-info .list-info:nth-child(3) p:nth-child(2) {
	margin-bottom: 10px;
}
.hint-info .list-info:nth-child(4) p {
	margin-bottom: 10px;
}
.hint-info .list-info h2 {
	line-height: 60px;
	font-size: 22px;
	text-align: center;
	margin-top: 37px;
}
.hint-info .list-info h3 {
	line-height: 60px;
	font-size: 20px;
	text-align: center;
	margin-top: 37px;
}
.hint-info .list-info h4 {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
	color: #f44336;
}
.hint-info .list-info h5 {
	margin-top: 25px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 5px;
	color: #f44336;
}
.layui-btn-photo {
	width: 92px;
}