/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
     margin: 0;
     padding: 0;
     font-size: 100%;
     font-weight: normal;
     border: none;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
     display: block;
 }
 
 blockquote, q {
     quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 
 /* custom */
 a {
     color: #7e8c8d;
     text-decoration: none;
     -webkit-backface-visibility: hidden;
 }
 
 li {
     list-style: none;
 }
 
 ::-webkit-scrollbar {
     width: 5px;
     height: 5px;
 }
 
 ::-webkit-scrollbar-track-piece {
     background-color: rgba(0, 0, 0, 0.2);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
     height: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 ::-webkit-scrollbar-thumb:horizontal {
     width: 5px;
     background-color: rgba(125, 125, 125, 0.7);
     -webkit-border-radius: 6px;
 }
 
 html, body {
     width: 100%;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
 }
 
 body {
     -webkit-text-size-adjust: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     font-size: 14px;
     font-family: "微软雅黑";
     color: #000;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     font-size: 14px;
     font-family: "微软雅黑";
     color: #000;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
     font-size: 14px;
     font-family: "微软雅黑";
     color: #000;
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
     font-size: 14px;
     font-family: "微软雅黑";
     color: #000;
 }
 input[type=date]::-webkit-inner-spin-button { visibility: hidden;}
 input[type=date] {font-size: 12px;color: #333;}
 input,button,select,textarea{outline:none}
 textarea{resize:none}
 select {
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
     background: transparent;
     border: none;
 }
 select::-ms-expand { display: none; }
 input::-ms-clear{display:none;}
 input::-ms-reveal{display:none;}
 input:-ms-clear{display:none;}
 input:-ms-reveal{display:none;}