.regist-box-right {
  overflow: hidden;
}
.regist-box-right .layer-photos-demo {
  width: 300px;
  height: 285px;
  background: #000;
  opacity: 0.8;
  overflow: hidden;
  padding: 25px 18px;
  box-sizing: border-box;
}
.layer-photos-demo .layer-photos-h2 {
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.layer-photos-demo .layer-photos-p {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.regist-box-right .layer-photos-box {
  width: 300px;
  float: left;
  /* background: #ebebeb; */
}
.regist-box-right .layer-photos-demo img {
  margin: 25px auto;
  display: block;
  width: 264px;
  height: 180px;
}

.regist-box-right .idcard-box {
  padding: 15px 25px;
  background: #1aa194;
}
.regist-box-right .idcard-box h3 {
  height: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.regist-box-right .idcard-box .idcard-input {
  height: 38px;
}
.regist-box-right .idcard-box .idcard-input input {
  width: 250px;
  float: left;
  margin-right: 20px;
}
.regist-box-right .idcard-box .idcard-input .idcard-btn {
  background: #fff;
  color: #1aa194;
  font-weight: 700;
}
.regist-box-right .user-form-box {
  margin-left: 20px;
  float: left;
  width: 390px;
  background: #ebebeb;
  padding: 25px 10px 10px;
  box-sizing: border-box;
  text-align: center;
}
.regist-box-right .user-form {
 
}
.regist-box-right .user-form li {

}
.regist-box-right .user-form li .layui-form-label {
  padding: 9px;
  width: 60px;
  font-weight: 700;
}
.regist-box-right .user-form li:nth-child(1) .layui-input-inline {
  margin-right: 0;
}
.regist-box-right .layui-btn-box {
  text-align: center;
  font-weight: 700;
}
.layer-photos-tips {
  height: 68px;
  text-align: center;
  padding: 4px 0;
  box-sizing: border-box;
}
.layer-photos-tips h2 {
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  font-weight: 700;
}
.layer-photos-tips p {
  line-height: 15px;
  font-size: 14px;
  font-weight: 700;
}