@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-23 11:14:50
 * @version $Id$
 */
.zt-side-toggle,
.zt-side-full {
  float: left;
  height: 30px;
  width: 30px;
  font-size: 14px;
  line-height: 30px;
  background: #009688;
  text-align: center;
  color: #fff;
  margin: 17px 5px 0 10px;
  cursor: pointer;
}

.zt-side-toggle:hover,
.zt-side-full:hover {
  background: #5FB878;
}

.zt-nav-item .zt-name-icon {
  padding: 0 20px;
  color: #fff;
  opacity: 1;
  transition: all 0.3s;
}

.zt-nav-item .zt-name-icon i {
  font-size: 26px;
  color: #fff;
  margin-right: 10px;
  vertical-align: middle;
}

.zt-nav-item dl.zt-nav-child dd a i {
  margin-right: 5px;
}

/* side */
.layui-layout-admin .layui-logo {
  width: 217px;
  left: 20px;
}

.layui-layout-admin .layui-header {
  background: #23262E;
  position: relative;
}

.zt-side {
  background: #23262E;
}

.zt-side-nav {
  background: #23262E;
}

.zt-side-nav li a i {
  margin-right: 15px;
}

.zt-side-nav li:nth-child(4) a i {
  margin-right: 18px;
}

.zt-side-nav li:nth-child(5) a i {
  margin-right: 13px;
}

.zt-side-nav li:nth-child(10) a i {
  margin-right: 18px;
}

.zt-side-nav li:nth-child(11) a i {
  margin-right: 18px;
}

/* body */
.layui-layout-admin .zt-body {
  background: #eff0f4;
  bottom: 0;
}

.zt-body .zt-body-tab {
  margin: 0;
}

.zt-body .zt-body-tab .zt-tab-title {
  background: #fff;
  border-bottom: 1px solid #d4d4d4;
  box-sizing: border-box;
}

.zt-body .zt-body-tab .zt-tab-title li cite {
  font-style: normal;
  padding-left: 5px;
}

.zt-body .zt-body-tab .zt-tab-title li.layui-this {
  color: #fff;
  background: #1AA094;
}

.zt-body .zt-body-tab .zt-tab-title li.layui-this:after {
  border: none;
  content: '';
  hieght: 0;
  display: none;
}

.zt-body .zt-body-tab .zt-tab-content {
  background: #eff0f4;
}

.zt-body .zt-body-tab .zt-tab-content .layui-tab-item iframe {
  border: none;
  width: 100%;
}

/*右键刷新*/
.admin-contextmenu {
  position: absolute;
  line-height: 36px;
  padding: 5px 0;
  border: 1px solid #d2d2d2;
  background-color: white;
  z-index: 19940201;
  border-radius: 2px;
  white-space: nowrap;
  top: 30px;
}

.admin-contextmenu ul li {
  padding: 0 15px;
}

.admin-contextmenu ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

/*密码框*/
.password-layer {
  height: 250px;
  width: 300px;
  background-color: #fff;
  padding: 20px 30px 20px 10px;
  display: none;
}

.zt-form-item-center {
  text-align: center;
}

.pass-box {
  width: 400px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 0;
}

.pass-box .pass-bottom {
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}

.pass-box .pass-bottom span {
  color: #FF5722;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.child-span {
  display: block;
  padding: 0 20px;
  color: #333;
}

.child-span i {
  margin-right: 10px;
}