::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 600;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 600;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 600;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 600;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
html, body {
 width: 100%;
 height: 100%;
 overflow: hidden;
 font-family: "微软雅黑";
 position: relative;
}
.wrapper-box {
  width: 400px;
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 0;
  margin-left: -200px;
  background-color: #e3e7ec;
}
.regist-box {
  position: absolute;
  height: 610px;
  left: 0;
  top: 50%;
  margin-top: -305px;
  background-color: #fff;
}
.regist-box-verify, .regist-box-regist{
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.regist-box-active {
  display: block;
}
.regist-box-left {
  width: 380px;
  margin-right: 20px;
  box-sizing: border-box;
  padding: 20px 10px;
}
.regist-box-right {
  width: 400px;
}
.regist-box-left .box-left-top {

}
.regist-box-left .box-left-top .layui-form label{
  font-weight: 700
}
.regist-box-left .box-left-top .top-h2 {
  height: 22px;
  margin-bottom: 20px;
}
.box-left-top .top-h2 i {
  display: block;
  float: left;
  height: 22px;
  width: 22px;
  background-image: url('../../static/images/idcard_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8px;
}
.box-left-top .top-h2 span {
  display: block;
  float: left;
  height: 22px;
  line-height: 23px;
  font-weight: 700;
  font-size: 16px;
}
.regist-box-left .box-left-top .layui-input-block {
  padding-right: 20px;
}

.regist-box-left .box-left-bottom .bottom-h2 {
  height: 22px;
  margin-bottom: 20px;
}
.box-left-bottom .bottom-h2 i {
  display: block;
  float: left;
  height: 22px;
  width: 22px;
  background-image: url('../../static/images/idcard_icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 8px;
}
.box-left-bottom .bottom-h2 span {
  display: block;
  float: left;
  height: 22px;
  line-height: 23px;
  font-weight: 700;
  font-size: 16px;
}
.regist-box-left .box-left-bottom {
  
}
.box-left-bottom .btn-box .layui-btn{
  font-weight: 700;
}
.box-left-bottom .hint-info {
  margin: 20px auto 50px;
  width: 354px;
  height: 160px;
  position: relative;
  background: #eff0f4;
}

.box-left-bottom .hint-info li {
  position: absolute;
  width: 354px;
  height: 160px;
  background: #eff0f4;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
}
.box-left-bottom .hint-info li.active {
  display: block;
}
.box-left-bottom .hint-info li:nth-child(1) h2 {
  height: 160px;
  line-height: 160px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.box-left-bottom .hint-info li:nth-child(2) p {
  height: 160px;
  line-height: 160px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.box-left-bottom .hint-info li:nth-child(3) h4, 
.box-left-bottom .hint-info li:nth-child(4) h4{
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box-left-bottom .hint-info li:nth-child(3) p, 
.box-left-bottom .hint-info li:nth-child(4) p {
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.box-left-bottom .hint-info li:nth-child(3) .layui-btn {
  font-weight: 700;
}
.box-left-bottom .hint-info li:nth-child(4) h4{
  color: #000;
  margin-top: 40px;
}
.box-left-bottom .hint-info li:nth-child(4) p{
  color: red;
}
.box-left-bottom .change-verify {
  width: 220px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  background: #ff6839;
  margin: 0 auto;
  cursor: pointer;
}
.verify {
  width: 100%;
  text-align: center;
  height: 360px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -180px;
}
.verify li {
  width: 100%;
  display: none;
}
.verify li.active {
  display: block;
}
.verify li p {
  height: 30px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.verify li p span {
  font-weight: 700;
}
.verify li:nth-child(1) .verify-start-img {
  width: 100%;
  margin: 0 auto;
  height: 194px;
  text-align: center;
  position: relative;
}
.verify li:nth-child(1) .verify-start-img span {
  position: absolute;
  width: 118px;
  height: 173px;
  background: url('../images/ani_hand.png') no-repeat;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -59px;
  transform: translateX(130px);
  animation: ani 1.6s ease-in-out infinite;
  opacity: 0;
}
@keyframes ani {
  form {
    opacity: 0;
    transform: translateX(130px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.verify li:nth-child(4) {
  width: 190px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  background: #ff6839;
  margin: 60px auto 0;
  display: block;
  cursor: pointer;
}

.regist-box-right .layer-photos-demo {
  width: 100%;
  height: 230px;
  background: #000;
  opacity: 0.8;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
}
.regist-box-right .layer-photos-demo img {
  margin: 25px auto;
  display: block;
  width: 264px;
  height: 180px;
}

.regist-box-right .idcard-box {
  padding: 15px 25px;
  background: #1aa194;
}
.regist-box-right .idcard-box h3 {
  height: 20px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.regist-box-right .idcard-box .idcard-input {
  height: 38px;
}
.regist-box-right .idcard-box .idcard-input input {
  width: 250px;
  float: left;
  margin-right: 20px;
}
.regist-box-right .idcard-box .idcard-input .idcard-btn {
  background: #fff;
  color: #1aa194;
  font-weight: 700;
}
.regist-box-right .user-form {
  padding: 10px 10px 10px 20px;
}
.regist-box-right .user-form li {

}
.regist-box-right .user-form li .layui-form-label {
  padding: 9px;
  width: 60px;
  font-weight: 700;
}
.regist-box-right .user-form li:nth-child(1) .layui-input-inline {
  margin-right: 0;
}
.regist-box-right .layui-btn-box {
  text-align: center;
  font-weight: 700;
}