@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-05 11:11:00
 * @version $Id$
 */

html,
body {
  height: 100%;
  width: 100%;
}

.wapper {
  height: 100%;
  background-image: url(../image/bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  background-position: center center;
}

/*header*/
.header {
  width: 100%;
  height: 73px;
  background-image: url(../image/headbar.png);
  background-repeat: repeat-x;
  background-position: center center;
}

.header .header-left {
  height: 64px;
}

.header .header-left span.left-icon {
  width: 271px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  border-right: 1px solid #167e9e;
  font-size: 0;
}

.header .header-left span.left-icon img {
  vertical-align: middle;
}

.header .header-left span.left-font {
  border-left: 1px solid #2eceff;
  padding-left: 20px;
  height: 64px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  font-family: "宋体";
}

.header .header-right {
  height: 64px;
}

.header .header-right .right-num,
.header .header-right .right-ie {
  height: 64px;
  font-size: 18px;
  line-height: 64px;
  color: #fff;
  margin-right: 40px;
  font-family: "宋体";
}

.header .header-right .right-ie i,
.header .header-right .right-num i {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  vertical-align: sub;
}

.header .header-right .right-num i {
  background-image: url(../image/phone_icon.png);
  margin-bottom: 1px;
}

.header .header-right .right-ie i {
  background-image: url(../image/internet.png);
}
/* content */
.content {
	width: 100%;
	height: 376px;
	overflow: hidden;
}
.content-box {
	width: 908px;
	position: relative;
	height: 376px;
	margin: 0 auto;
}
.content-box .content-item {
	width: 908px;
	height: 376px;
	position: absolute;
	left: 0;
	top: 0;
	background: #fafbfd;
	border-radius: 10px;
	box-shadow: 0 0 1px #fff;
	display: none;
}
.content-box .content-item-show {
	display: block;
}
.content-box .first-page {
  background: none;
  border-radius: 10px;
}

.first-page .first-left-wrapper {
  height: 316px;
  width: 617px;
  float: left;
  margin-top: 30px;
}

.first-page .first-right-wrapper {
  height: 316px;
  width: 270px;
  float: right;
  margin-top: 30px;
}
/*第一步*/
.step-one-top {
	height: 190px;
	width: 100%;
	margin: 60px auto 25px;
	position: relative;
	overflow: hidden;
}
.step-one-top .step-one-top-img {
	width: 210px;
	height: 135px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 210px 135px;
	position: absolute;
	top: 0;
}
.step-one-top .step-one-top-img-l {
	background-image: url(../image/id_card1.png);
	left: 50%;
	margin-left: -105px;
	transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out; /* Firefox 4 */
	-webkit-transition: all 0.7s ease-in-out; /* Safari 和 Chrome */
	-o-transition: all 0.7s ease-in-out; /* Opera */
}
.step-one-top .step-one-top-img-r {
	background-image: url(../image/id_card2.png);
	right: 50%;
	margin-right: -700px;
	transition: all 0.7s ease-in-out;
	-moz-transition: all  0.7s ease-in-out; /* Firefox 4 */
	-webkit-transition: all 0.7s ease-in-out ; /* Safari 和 Chrome */
	-o-transition: all 0.7s ease-in-out; /* Opera */
}
.step-one-top .step-one-top-left {
	margin-left: -250px;
}
.step-one-top .step-one-top-right {
	margin-right: -250px;
}
.step-one-bottom {
	height: 46px;
	width: 449px;
	background: #969a9f;
	text-align: center;
	margin: 0 auto;
	border-radius: 30px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-family: '宋体';
	font-size:  24px;
}
/*第二步*/
.step-two-page .step-two {
	height: 257px;
	margin-top: 59px;
}
.step-two .step-two-content{
	height: 257px;
	width: 390px;
	margin: 0  auto;
	border: 1px solid #ccc;
}
.step-two-content .step-two-content-title {
	height: 40px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	font-size: 18px;
	color: #6e6464;
	padding-left: 18px;
	font-family: '宋体';
	font-weight: 700;
	background: #eff2f5;
}
.step-two-content .step-two-content-title i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../image/alert_icon.png);
	vertical-align: -3px;
	margin-right: 10px;
}
.step-two-content .step-two-content-txt {
	padding: 24px 18px;
	font-weight: 700;
	font-family: '宋体';
	font-size: 20px;
	line-height: 34px;
}
/*第三步*/
.layer-tip {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 168px;
	height: 144px;
	background: #373636;
	margin-top: -72px;
	margin-left: -84px;
	z-index: 999;
	border-radius: 5px;
	display: none;
}
.layer-tip-show {
	display: block;
}
.layer-tip i {
	display: block;
	width: 46px;
	height: 46px;
	margin: 20px auto;
}
.layer-tip h2 {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-family: '宋体';
	color: #fff;
}
#regist-suc i {
	background: url(../image/regist_success.png);
}
#regist-err i {
	background: url(../image/regist_error.png);
}
.content-box .step-three-page {
	padding: 20px;
	height: 336px;
	width: 868px;
}
.step-three-page .step-three-left {
	height: 336px;
	width: 590px;
	float: left;
	position: relative;
}
.step-three-left .step-three-loading {
	width: 471px;
	height: 21px;
	position: relative;
	margin: 60px auto;
	background: url(../image/my-loading.png);
}
.step-three-loading .circle-big {
	position: absolute;
	top: 50%;
	margin-top: -5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background:url(../image/cirle_big.png);
	opacity: 0;
}
.step-three-loading .circle-big1 {
	opacity: 1;
	left: 5px;
}
.step-three-loading .circle-big2 {
	left: 231px;
}
.step-three-loading .circle-big3 {
	left: 457px;
}
.step-three-loading .circle-big4 {
	left: 118px;
}
.step-three-loading .circle-big5 {
	left: 340px;
}
.step-three-loading .loading-title {
	display: block;
	width: 82px;
	height: 38px;
	background-image: url(../image/loading_title.png);
	background-size: cover;
	position: absolute;
	top: -44px;
	left: -34px;
}
.step-three-loading .loading-title .loading-title-txt {
	height: 38px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	display: block;
	font-family: '宋体';
	font-weight: 600;
}
.step-three-loading .loading-progress-box {
	height: 2px;
	width: 444px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -222px;
	margin-top: -1px;
}
.loading-progress-box .line-box {
	height: 1px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1px;
}
.loading-progress-box .line-box .line {
	/*width: 25%; */
	height: 1px;
	float: left;
	background: #333;
	background: #c22525;
}
/*动画过程*/
/*1*/
.loading-first .loading-title {
	animation: left_f .7s ease-out;
	-webkit-animation: left_f .7s ease-out;
	left: 81px;
}
/* .loading-first .circle-big4 {
	opacity: 1;
	transition: opacity 0.7s
} */
.loading-first .loading-progress-box .line-box .line:nth-child(1) {
	animation: width 0.7s ease-out;
	-webkit-animation: width 0.7s ease-out;
	width: 25%;
}
@keyframes left_f {
	from {
		left: 0
	}
	to {
		left: 81px;
	}
}
@-webkit-keyframes left_f {
	from {
		left: 0
	}
	to {
		left: 81px
	}
}

/*2*/
.loading-second .loading-title {
	animation: left_s 0.7s ease-out;
	-webkit-animation: left_s 0.7s ease-out;
	left: 194px;
}
.loading-second .circle-big2 {
	opacity: 1;
	transition: opacity 0.7s
}
.loading-second .loading-progress-box .line-box .line:nth-child(2) {
	animation: width 1s ease-out;
	-webkit-animation: width 1s ease-out;
	width: 25%;
}
@keyframes left_s {
	from {
		left: 81px
	}
	to {
		left: 194px
	}
}
@-webkit-keyframes left_s {
	from {
		left: 81px
	}
	to {
		left: 194px
	}
}
/*3*/
.loading-third .loading-title {
	animation: left_t 0.7s ease-out;
	-webkit-animation: left_t 0.7s ease-out;
	left: 303px;
}
/* .loading-third .circle-big5 {
	opacity: 1;
	transition: opacity 0.7s
} */
.loading-third .loading-progress-box .line-box .line:nth-child(3) {
	animation: width 0.7s ease-out;
	-webkit-animation: width 0.7s ease-out;
	width: 25%;
}
@keyframes left_t {
	from {
		left: 194px
	}
	to {
		left: 303px
	}
}
@-webkit-keyframes left_t {
	from {
		left: 194px
	}
	to {
		left: 303px
	}
}
/*4*/
.loading-fourth .loading-title {
	animation: left_fo 0.7s ease-out;
	-webkit-animation: left_fo 0.7s ease-out;
	left: 420px;
}
.loading-fourth .circle-big3 {
	opacity: 1;
	transition: opacity 0.7s;
}
.loading-fourth .loading-progress-box .line-box .line:nth-child(4){
	animation: width 0.7s ease-out;
	-webkit-animation: width 0.7s ease-out;
	width: 25%;
}
@keyframes left_fo {
	from {
		left: 300px
	}
	to {
		left: 420px
	}
}
@-webkit-keyframes left_fo {
	from {
		left: 300px
	}
	to {
		left: 420px
	}
}
@keyframes width {
	from {
		width: 0
	}
	to {
		width: 25%
	}
}
@-webkit-keyframes width {
	from {
		width: 0
	}
	to {
		width: 25%
	}
}
/*动画过程结束*/
.step-three-left .step-three-ain {
	text-align: center;
	position: relative;
}
.step-three-ain .step-three-ain-image {
	height: 135px;
	width: 101px;
	display: inline-block;
	background: url(../image/zhang.png);
}
.step-three-ain .ani-hand {
	width: 200px;
	height: 280px;
	background: url(../image/ani_hand.png) no-repeat 50% 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -140px;
	z-index: 66;
	transform: translateX(120px);
	opacity: 0;
	transition: all 1.2s ease-in-out 0.8s;
}
.step-three-ain .ani-hand-active {
	transform: translateX(0);
	opacity: 1;
}
.step-three-page .step-three-right {
	width: 258px;
	height: 316px;
	padding: 10px;
	float: right;
	background: #000;
}
.step-three-right .hand-icon {
	display: block;
	width: 258px;
	height: 270px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}
.step-three-right .regist-title {
	height: 46px;
	font-size: 18px;
	line-height: 46px;
	font-family: '宋体';
	text-align: center;
	display: block;
	color: #b6ff73;
}
/*第4步*/
.step-four-page .step-four-info {
	width: 272px;
	height: 150px;
	margin: 80px auto;
	overflow: hidden;
}
.step-four-info-icon {
	display: block;
	height: 70px;
	width: 70px;
	background: url(../image/gou_succ.png);
	margin: 0 auto 26px;
}
.step-four-info-text {
	height: 40px;
	font-size: 22px;
	font-family: '宋体';
	font-weight: bold;
	text-align: center;
	display: block;
}
.step-four-page .step-four-footer {
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: '宋体';
	font-weight: bold;
	color: #e54342;
}
.step-four-page .step-four-footer i {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../image/alert_icon_four.png);
	margin-right: 8px;
	vertical-align: -4px;
}
/*导航*/
.nav {
	width: 100%;
	height: 216px;
}
.nav .nav-box {
	width: 908px;
	height: 216px;
	margin: 0 auto;
}
.nav .nav-box li.nav-item {
	width: 212px;
	height: 216px;
	margin-right: 20px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(../image/li_bj_no.png);
	background-size: 212px 216px;
}
.nav .nav-box li.nav-item:last-child {
	margin-right: 0;
}
.nav .nav-box li.nav-item .item-icon-box {
	display: block;
	height: 54px;
	margin: 36px 0 6px;
	text-align: center;
}
li.nav-item .item-icon {
	display: block;
	width: 54px;
	height: 54px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
}
li.nav-item:nth-child(1) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_one_default.png);
}
li.nav-item:nth-child(2) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_two_default.png);
}
li.nav-item:nth-child(3) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_three_default.png);
}
li.nav-item:nth-child(4) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_four_default.png);
}
.nav .nav-box li.nav-item .item-title {
	display: block;
	line-height: 22px;
	text-align: center;
	font-weight: 700;
	font-family: '宋体';
	font-size: 18px;
}
.nav .nav-box li.nav-item .item-txt {
	display: block;
	line-height: 14px;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 15px;
	color: #bdc0c3;
	font-size: 12px;
}
li.nav-item .item-btn {
	display: block;
	height: 24px;
	width: 76px;
	border-radius: 20px;
	border: 1px solid #d4d4d4;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	margin: 0 auto;
	color: #919191;
}
li.nav-item .item-btn span.status {
	font-family: '宋体';
	font-weight: 700;
	font-size: 14px;
}
.nav .nav-box li.first {
	background-image: url(../image/li_bj.png);
}
li.first:nth-child(1) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_one.png);
}
li.first:nth-child(2) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_two.png);
}
li.first:nth-child(3) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_three.png);
}
li.first:nth-child(4) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_four.png);
}
.nav .nav-box li.active {
	background-image: url(../image/li_bj.png);
}
li.active:nth-child(1) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_one_active.png);
}
li.active:nth-child(2) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_two_active.png);
}
li.active:nth-child(3) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_three_active.png);
}
li.active:nth-child(4) .item-icon-box .item-icon {
	background-image: url(../image/btn_icon_four_active.png);
}
li.active:nth-child(1) .item-btn {
	border-color: #f38917;
	color: #f38917;
}
li.active:nth-child(2) .item-btn {
	border-color: #1e8837;
	color: #1e8837;
}
li.active:nth-child(3) .item-btn {
	border-color: #4aa3e5;
	color: #4aa3e5;
}
li.active:nth-child(4) .item-btn {
	border-color: #e26161;
	color: #e26161;
}
li.complete .item-btn {
	background-color: #b8bbbf;
	border: none;
}
li.complete .item-btn  i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../image/gou.png);
	background-repeat: no-repeat;
	background-size: 14px 14px;
	margin-right: 3px;
	border-radius: 50%;
	vertical-align: -2px;
}
li.complete .item-btn span.status {
	color: #fff;
}
.company-info {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #c6c6c6;
	position: absolute;
	bottom: 5px;
	left: 0;
}
